@import "reset";
@import "./fonts/fonts";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

html,
body {
  scrollbar-gutter: stable;
}

.app {
  min-height: var(--vh);
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  transition: var(--transition-default);
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}
