.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  z-index: 1;
}

.overlayActive {
  display: block;
  cursor: pointer;
}

.sessionListContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
  margin-right: 10px;
}

.sessionList {
  width: 173px;
  max-height: 161px;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: var(--shadow-sessions-history);
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: var(--overlay-index);
  transform: translateY(-40px);
  opacity: 0;
  transition: all 0.2s;
}

.sessionListOpened {
  overflow: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(40px);
}

.sessionItem {
  padding: 10px 30px;
  border-bottom: 1px solid var(--secondary-color);
  transition: all 0.2s;

  &:last-of-type {
    border: none;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--accent-color);
      background-color: var(--inverted-secondary-color);
      cursor: pointer;
    }
  }
}

.sessionsHistoryBtn {
  outline: 1px solid var(--bg-stat-item);
  max-width: fit-content;
  padding: 10px;

  @media screen and (width <= 440px) {
    font-size: 12px;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--accent-color);
      outline: 1px solid var(--accent-color);

      & svg path {
        fill: var(--accent-color);
      }
    }
  }
}
