@import "./mixins/index";

:root {
  --font-family-main: "Inter", arial, sans-serif;

  // Общая высота
  --vh: 0;

  // Шрифт M - основной шрифт приложения
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-weight-m: 400;
  --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // Шрифт L - для заголовков
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-weight-l: 500;
  --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // Шрифт XL - для заголовков
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-weight-xl: 500;
  --font-xl: var(--font-weight-xl) var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // цвета
  --error-color: #de3333;
  --overlay-color: rgba(0 0 0 / 50%);

  // анимации
  --transition-default: all 0.4s ease-in-out;
  --opacity-hover: 0.7;

  // Размер навбара
  --navbar-height: 50px;

  // Размер сайдбара
  --sidebar-width: 86px;
  --sidebar-collapsed-width: 50px;

  // Z-indexes
  --modal-index: 10;
}

.link-hovered {
  text-decoration: none;
  transition: var(--transition-default);
}

@media (hover: hover) {
  .link-hovered:hover {
    opacity: 0.7;
  }
}
