.auth {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background-image: url("../../../shared/assets/images/auth_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.auth::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(12 12 14 / 50%);
  z-index: -1;
}
