.auth {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  background-image: url("shared/assets/images/auth_bg.png");
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 0;
  padding: 40px 0;
}

.auth::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(12 12 14 / 75%);
  z-index: -1;
}
