
.primaryUserData {
  display: flex;
  flex-direction: column;
  grid-area: publicData;
  padding-top: 25px;
}

.username {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clan {
  width: max-content;
  color: var(--inverted-primary-color);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.userId {
  color: var(--inverted-primary-color);
  font-size: 15px;
  font-weight: 500;
}

.userBio {
  display: flex;
  color: var(--secondary-color-accent);
  max-width: 469px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  white-space: pre-line;
}

.info {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  opacity: 0.5;
  transition: opacity 0.2s linear;
  margin-right: auto;
}

@media screen and (hover: hover) {
  .info:hover {
    cursor: pointer;
    opacity: 1;
  }

  .clan:hover {
    color: var(--primary-color);
  }
}

@media screen and (width <= 768px) {
  .primaryUserData {
    align-items: center;
  }

  .userBio {
    text-align: center;
  }
}
