.wrapper {
  width: 100%;
  font-size: 16px;
  line-height: normal;
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.25rem 1rem; /* вертикальный и горизонтальный отступ */
  align-items: baseline; /* выравнивание по базовой линии текста */
}

.term {
  color: var(--input-font-color);

  @media (width <= 1024px) {
    font-size: 14px;
  }
}

.value {
  font-size: 16px;

  @media (width <= 1024px) {
    font-size: 14px;
  }
}

.nice {
  color: var(--stats-green-color);
}

.good {
  color: var(--stats-aqua-color);
}

.great {
  color: var(--stats-purple-ligth-color);
}

.veryBadWN8 {
  color: var(--wn8-very-bad-color);
}

.badWN8 {
  color: var(--wn8-bad-color);
}

.belowAverageWN8 {
  color: var(--wn8-below-average-color);
}

.averageWN8 {
  color: var(--wn8-average-color);
}

.aboveAverageWN8 {
  color: var(--wn8-above-average-color);
}

.goodWN8 {
  color: var(--wn8-good-color);
}

.veryGoodWN8 {
  color: var(--wn8-very-good-color);
}

.greatWN8 {
  color: var(--wn8-great-color);
}

.unicumWN8 {
  color: var(--wn8-unicum-color);
}

.superUnicumWN8 {
  color: var(--wn8-super-unicim-color);
}
