.wrapper {
  display: flex;
  gap: 5px;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  position: relative;
}

.visible {
  text-decoration: dashed var(--primary-color) underline 1px;
  text-underline-offset: 4px;
  max-height: 19px;
  cursor: help;
}

.term {
  color: var(--input-font-color);
}

.nice {
  color: var(--stats-green-color);
}

.good {
  color: var(--stats-aqua-color);
}

.great {
  color: var(--stats-purple-ligth-color);
}

.veryBadWN8 {
  color: var(--wn8-very-bad-color);
}

.badWN8 {
  color: var(--wn8-bad-color);
}

.belowAverageWN8 {
  color: var(--wn8-below-average-color);
}

.averageWN8 {
  color: var(--wn8-average-color);
}

.aboveAverageWN8 {
  color: var(--wn8-above-average-color);
}

.goodWN8 {
  color: var(--wn8-good-color);
}

.veryGoodWN8 {
  color: var(--wn8-very-good-color);
}

.greatWN8 {
  color: var(--wn8-great-color);
}

.unicumWN8 {
  color: var(--wn8-unicum-color);
}

.superUnicumWN8 {
  color: var(--wn8-super-unicim-color);
}

@media (width <= 1024px) {
  .wrapper {
    font-size: 12px;
  }
}
