.infoArticle {
  max-width: 560px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (width <= 568px) {
    gap: 20px;
  }
}

.link {
  color: var(--accent-color);
}
