.SearchInput {
  margin: 0;
  width: 217px;
  height: 40px;
  border: none;
  outline: none;
  color: var(--input-font-color);
  transition: 0.2s;
  font: var(--font-btn-default);
  display: block;
  align-self: center;
  background: var(--input-bg-color);
  padding: 5px 45px 5px 5px;
  border-radius: 4px;
}

.SearchInput:disabled {
  background: var(--button-disabled);
}

.SearchInput::placeholder {
  color: var(--input-placeholder-color);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 276px;
}

.searchWrapper {
  background-color: var(--input-bg-color);
  border-radius: 4px;
  display: flex;
}

@media (width <= 768px) {
  .SearchInput {
    padding: 5px;
    width: 385px;
    outline: 1px solid var(--bg-tab-inactive);
  }

  .inputWrapper {
    max-width: 385px;
  }

  .visible {
    display: block;
  }
}

@media (width <= 425px) {
  .SearchInput {
    width: 300px;
  }

  .inputWrapper {
    max-width: 300px;
  }
}
