.tournamentStars {
  margin: 0 auto 77px;
  max-width: 1280px;
  padding: 20px;
}

.title {
  text-align: center;
  font: var(--font-xxl);
}

.text {
  margin: 0 auto 25px;
  max-width: 980px;
  text-align: center;
  font: var(--font-s);
  color: var(--secondary-color);

  @media screen and (width <= 768px) {
    font-size: 14px;
  }
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1430px;
  margin: 0 auto;
  padding-top: 40px;
  gap: 16px;
}

.skeleton {
  width: 100%;
  height: 74px;

  @media screen and (width <= 768px) {
    height: 102px;
  }
}

@media (width <= 1470px) {
  .tournamentStars {
    margin: 0 auto 77px;
  }

  .title {
    font-size: var(--font-size-xl);
  }

  .text {
    padding: 0 20px;
  }
}

@media (width <= 850px) {
  .tournamentStars {
    margin: 0 auto 77px;
    padding: 20px 10px;
    border-radius: 0;
  }

  .title {
    font-size: var(--font-size-l);
  }
}
