{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 140,
  "singleAttributePerLine": true
}
