.favoritesButton {
  color: var(--input-placeholder-color);
  position: absolute;
  font-weight: normal;

  &.leaderboard {
    top: 50%;
    right: 15px;
    z-index: 10;
    transform: translateY(-50%);

    @media (width <= 768px) {
      top: 5px;
      right: 5px;
      transform: translateY(0);
    }
  }

  &.table {
    position: absolute;
    top: 50%;
    left: 275px;
    transform: translateY(-50%);

    @media (width <= 1179px) {
      left: 250px;
    }

    @media (width <= 930px) {
      left: auto;
      right: 5px;
      top: 5px;
      transform: translateY(0);
    }

    @media (width <= 700px) {
      right: 0;
      top: 0;
    }
  }

  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);

    & svg {
      overflow: visible;
    }

    & svg path {
      filter: drop-shadow(0 0 6px var(--accent-color));
    }
  }

  &:hover .favoritesTooltip {
    display: block;
  }
}

.active {
  color: var(--accent-color);

  & svg path {
    fill: var(--accent-color);
  }
}

.favoritesTooltip {
  display: none;
}

.profile {
  top: -10px;
  right: -26px;
  background: none;
  backdrop-filter: none;
  width: 26px;
  height: 26px;

  @media (width <= 768px) {
    top: 0;
    right: 0;
    position: relative;
    background: none;
    border: 1px solid var(--bg-stat-item);
    padding: 0 15px 0 10px;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    margin: 10px 0 0;
    min-width: 150px;
  }
}

.search {
  position: relative;
  padding: 0;
  height: 100%;

  & svg {
    height: 24px;
    width: 24px;
  }
}
