.avatarWrapper {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media (width <= 768px) {
  .avatarWrapper {
    padding: 10px 0 0;
  }

  .avatar {
    width: 110px;
    height: 110px;
  }
}

@media (width <= 450px) {
  .avatar {
    width: 75px;
    height: 75px;
  }
}
