.Footer {
  max-width: 1280px;
  padding: 20px 20px 20px 120px;
  background-color: var(--bg-footer);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;

  @media screen and (width <= 1700px) {
    max-width: 1280px;
  }

  @media screen and (width <= 1024px) {
    border-radius: 0;
    margin: 0;
  }
}

.collapsed {
  @media screen and (width <= 1024px) {
    max-width: 100%;
    margin-left: 0;
  }
}

.crownBackground {
  width: 400px;
  position: absolute;
  top: -100px;
  left: 40px;

  & path {
    fill: var(--bg-footer-crown);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--footer-index);
}

.wrapper {
  min-width: 236px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: var(--footer-index);
}

.button {
  font: var(--font-m);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .3s ease;
}

.darkText {
  color: var(--secondary-color);
}

.copyright {
  font: var(--font-m);
  z-index: var(--footer-index);
}

@media screen and (width <= 768px) {
  .Footer {
    padding: 20px 10px;
  }

  .crownBackground {
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    flex-direction: column;
    gap: 15px;
  }

  .wrapper {
    gap: 15px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}
