.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
  transition: var(--transition-default);
}

.clear {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.inverted {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.highlight {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--highlight-color);
}

@media (hover: hover) {
  .Button:hover {
    opacity: var(--opacity-hover);
  }
}
