.Button {
  cursor: pointer;

  transition: var(--transition-default);
}

.clear {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

@media (hover:hover) {
  .Button:hover {
    opacity: var(--opacity-hover);
  }
}