.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: max-content;
  z-index: 10;

  &.profileSidebar {
    padding: 19px 0;
    gap: 30px;
    margin-bottom: auto;
    border-right: 4px solid var(--bg-tab-inactive);

    @media screen and (width <= 810px) {
      padding: 0 0 10px;
    }

    @media screen and (width <= 410px) {
      padding: 0;
    }
  }

  &.navbar {
    padding: 1px 4px;
  }
}

.collapsed {
  visibility: hidden;
}

@media screen and (width <= 810px) {
  .list.profileSidebar {
    flex-direction: row;
    height: auto;
    border: none;
    justify-content: center;
  }
}
