.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: var(--transition-default);
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.switchers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}