.Sidebar {
  height: calc(100svh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
}

.switchers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  gap: 5px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

.navList {
  margin-top: 27px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .switchers {
    flex-direction: column;
  }

  .navList {
    gap: 10px;
  }

}
