.headerRow {
  background-color: var(--bg-stat-item);
}

.header {
  padding: 20px 10px;
}

.header:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.headerCell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3ms ease;
}

.buttonZone {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0;
}

.buttonActive {
  path {
    fill: var(--accent-color);
  }
}

.buttonUp {
  transform: rotate(180deg);
}

@media screen and (width < 1000px) {
  .header:nth-of-type(2) {
    display: none;
  }

  .header:nth-last-of-type(2) {
    display: none;
  }
}

@media screen and (width < 700px) {
  .header:last-child {
    display: none;
  }

  .header:nth-of-type(6) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (width < 570px) {
  .header {
    padding: 20px 0;
    max-width: 100px;
    font-size: 14px;
  }
}

@media screen and (width < 400px) {
  .header:nth-child(3) {
    display: none;
  }
}