.TournamentCard {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.cardInfoWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
  min-height: 102px;
  overflow: hidden;
  background-color: var(--bg-color-50-opacity);
  z-index: 0;
}

.cardInfoWrapper::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('shared/assets/icons/card_bg.svg');
  background-repeat: repeat;
  z-index: -2;
}

.cardHeading {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  border-bottom: 1px solid var(--accent-color);
}

.image {
  display: block;
  width: 100%;
  height: 246px;
  object-fit: cover;
  z-index: -1;

}

.date {
  color: var(--secondary-color);

  @media screen and (width <= 1280px) {
    font-size: 14px;
  }
}

.name {
  font-size: 18px;
  font-weight: 500;

  @media screen and (width <= 1280px) {
    font-size: 16px;
  }
}

.requirements {
  list-style: none;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (hover: hover) {
  .TournamentCard:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--bg-color));
  }
}
