.AuthForm {
  position: relative;
  max-width: 677px;
  max-height: max-content;
  height: max-content;
  display: flex;
  gap: 15px;
  flex-direction: column;

  // justify-content: space-between;
  z-index: 3;
  padding: 25px 100px 0;
  grid-column: 2 / 12;
  margin-top: 100px;

  @media screen and (width > 1980px) {
    grid-column: 4 / 12;
  }
}

.AuthForm::after {
  position: absolute;
  content: "";
  background: rgb(248 248 248 / 5%);
  backdrop-filter: blur(30px);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 15px;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.inputPassword {
  width: 100%;
}

.btnEye {
  outline: none;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 13px;
  top: 18px;
  background: transparent url("shared/assets/icons/eye.svg") no-repeat center center;
  background-size: 24px 24px;
  opacity: 0.5;
}

.btnEyeActive {
  opacity: 1;
}

.forgotPasswordSpan {
  color: var(--secondary-color);
  font-size: 14px;
}

.forgotPasswordSpanInvisible {
  visibility: hidden;
}

.recoverPasswordLink {
  text-decoration: none;
  color: var(--primary-color);
}

.submitBtn {
  padding: 14px 100px;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid #fac704;
  background: rgb(250 199 4 / 10%);
  color: #fac704;
  transition: ease-in-out 0.1s;
}

.submitBtn:disabled {
  background: rgb(146 140 115 / 10%);
}

.submitWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorMessage {
  min-height: 24px;
  text-align: center;
  color: var(--error-color);
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2.5s linear infinite;
}

.altLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 25px;
  gap: 5px;
}

.altLoginSpan {
  color: var(--secondary-color)
}

//.lestaLogoIcon {
//  width: 200px;
//}


.arrowBack {
  color: var(--secondary-color);
  & svg {
    rotate: 90deg;
    scale: 1.5;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .lestaLogoIcon {
    opacity: .3;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }

  .lestaLogoIcon:hover {
    opacity: 1;
  }

  .btnEye:hover {
    cursor: pointer;
  }

  .submitBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(250 199 4 / 50%);
  }
}

@media screen and (width <= 768px) {
  .AuthForm {
    width: 100%;
    padding: 15px 10px 10px;
    margin: 0 10px;
  }

  .btnEye {
    top: 10px;
  }

  .submitBtn {
    padding: 14px 30px;
    font-size: 14px;
  }

  .altLoginSpan {
    font-size: 14px;
  }
}
