.item {
  display: flex;

  & svg {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
  }

  &.profileSidebar {
    justify-content: flex-end;
  }

  &.navbar {
    border-bottom: 1px solid var(--secondary-color);

    &:last-child {
      border: none;
    }
  }

  &.userSidebar,
  &.adminSidebar {
    border-radius: 5px;
  }
}

.line.profileSidebar {
  width: 4px;
  height: 62px;
  background-color: var(--bg-tab-inactive);
  border-radius: 5px;
  margin: -20px -4px -20px 0;
  white-space: nowrap;
  z-index: 1;
  transform: scaleY(0);
  transition: all 0.3s;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.2s;

  &.navbar {
    flex-direction: row-reverse;
    padding: 10px 20px;
    min-width: 233px;
    justify-content: flex-end;
  }

  &.userSidebar,
  &.adminSidebar {
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    color: var(--inverted-primary-color);
    text-decoration: none;
    width: var(--sidebar-width);
    height: 86px;
    border-radius: 5px;
  }
}

.linkActive {
  color: var(--accent-color);

  .line {
    background-color: var(--bg-tab-active);
    transform: scaleY(1);
  }

  &.userSidebar,
  &.adminSidebar {
    color: var(--highlight-color);
    background-color: var(--button-pressed);
    border-radius: 5px;
  }
}

.userSidebar,
.adminSidebar {
  & .linkName {
    order: 1;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 1;
  }
}

.collapsed.userSidebar,
.collapsed.adminSidebar {
  &.item {
    width: var(--sidebar-collapsed-width);
    height: 50px;
  }

  .link {
    width: var(--sidebar-collapsed-width);
    height: 50px;
    gap: 0;
  }

  & .linkName {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  & svg {
    width: 30px;
    height: 30px;
  }
}

@media (hover: hover) {
  .link {
    &:hover {
      color: var(--accent-color);

      &.userSidebar,
      &.adminSidebar {
        background-color: var(--button-hover);
        color: var(--inverted-primary-color);
      }
    }
    
    &:focus {
      &.userSidebar,
      &.adminSidebar {
        background-color: transparent;
        border: 2px solid var(--button-focus);
      }
    }
  }

  .openMenu {
    & .link {
      &:hover,
      &:focus {
        &.userSidebar,
        &.adminSidebar {
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (width <= 1024px) {
  .userSidebar.collapsed,
  .adminSidebar.collapsed {
    &.item {
      width: 42px;
      height: 42px;
      position: absolute;
      border-radius: 50%;
      background-color: var(--bg-profile-sidebar-inactive);
      box-shadow: 0 4px 8px 0 rgb(12 12 14 / 30%);
      transition: transform 0.3s ease, background 0.2s ease;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      bottom: 141px;
      left: 141px;
    }

    & .link {
      width: 42px;
      height: 42px;
    }

    & .linkActive {
      border-radius: 50%;
    }

    &.openMenu {
      &.item {
        bottom: 0;
        left: 0;
      }

      &.item:nth-child(1) {
        transform: translate3d(126px, -266px, 0);
      }

      &.item:nth-child(2) {
        transform: translate3d(182px, -259px, 0);
      }

      &.item:nth-child(3) {
        transform: translate3d(229px, -229px, 0);
      }

      &.item:nth-child(4) {
        transform: translate3d(259px, -183px, 0);
      }

      &.item:nth-child(5) {
        transform: translate3d(265px, -126px, 0);
      }
    }

    &.item:nth-child(6) {
      display: none;
    }
  }
}

@media screen and (width <= 810px) {
  .profileSidebar {
    .line {
      display: none;
    }

    .link {
      gap: 5px;
    }

    .linkName {
      font-size: 14px;
      display: none;
    }

    .linkActive {
      .linkName {
        display: block;
      }
    }
  }
}

@media screen and (width <= 410px) {
  .profileSidebar .linkActive {
    .linkName {
      display: none;
    }
  }
}
