.TournamentList {
  padding-top: 65px;
  list-style: none;
  display: grid;
  gap: 38px;
  grid-template-columns: repeat(3, minmax(min(1%), max(1fr)));
  grid-auto-rows: 350px;
  justify-content: space-between;

  @media screen and (width <= 1024px) {
    grid-template-columns: repeat(2, minmax(min(1%), max(1fr)));
    gap: 16px;
  }

  @media screen and (width <= 600px) {
    grid-template-columns: repeat(1, minmax(min(1%), max(1fr)));
  }
}
