.UserProfileForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 50px 50px;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.avatarChangeSpan {
  color: var(--accent-color);
}

.sectionSplit {
  height: 1px;
  background-color: var(--bg-profile-hr);
  border: none;
  margin: 25px 0;
}

.submitBtnWrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.error {
  min-height: 16px;
  color: var(--error-color);
}

@media screen and (width <= 1430px) {
  .wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .avatarWrapper {
    padding: 0;
  }
}

@media screen and (width <= 810px) {
  .heading {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (width <= 410px) {
  .heading {
    display: none;
  }

  .UserProfileForm {
    gap: 21px;
  }

  .sectionSplit {
    display: none;
  }
}
