.UserProfileForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 50px 50px;
  transition: opacity 0.2s linear;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;

  @media (width <= 810px) {
    width: 110px;
    height: 110px;
  }

  @media (width <= 450px) {
    width: 75px;
    height: 75px;
  }
}

.avatarChangeSpan {
  color: var(--accent-color);
}

.sectionSplit {
  height: 1px;
  background-color: var(--bg-profile-hr);
  border: none;
  margin: 25px 0;
}

.submitBtnWrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.error {
  min-height: 16px;
  color: var(--error-color);
}

.modal {
  margin-left: 330px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  @media (width <= 1024px) {
    margin-left: 185px;
  }

  @media (width <= 810px) {
    margin: 0;
    max-width: 80%;
  }

  @media (width <= 425px) {
    max-width: 320px;
  }
}

@media screen and (hover: hover) {
  .avatarWrapper:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media (width <= 1430px) {
  .wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .avatarWrapper {
    padding: 0;
  }
}

@media (width <= 810px) {
  .heading {
    text-align: center;
    font-size: 16px;
  }

  .wrapper {
    gap: 0;
  }

  .avatarWrapper {
    gap: 0;
  }

  .avatarChangeSpan {
    padding: 5px;
    height: 35px;
  }

  .inputsWrapper {
    margin: 0 auto;
    max-width: 477px;
    width: 100%;
    gap: 7px;
  }

  .sectionSplit {
    margin: 15px 0;
  }
}



@media (width <= 450px) {
  .heading {
    display: none;
  }

  .UserProfileForm {
    gap: 15px;
  }

  .sectionSplit {
    display: none;
  }
}
