.Background {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0;
  object-fit: cover;
  display: block;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0;
  overflow: hidden;

  &::after {
    content: '';
    background: var(--bg-gradient-overlay);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.image {
  filter: opacity(.3);
  margin-top: -10%;
}

.blur {
  filter: blur(180px);
  width: 30%;
  height: 100%;
  margin: -25% auto 0;
}
