.delta {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 500;

  @media screen and (width <= 768px) {
    top: 0;
    right: 7px;
  }
}

.positive {
  color: var(--green-color);
}

.negative {
  color: var(--error-color);
}
