.delta {
  position: absolute;

  font-size: 12px;
  font-weight: 500;

  @media screen and (width <= 768px) {
    right: 7px;
  }
}

.positive {
  color: var(--green-color);
}

.negative {
  color: var(--error-color);
}

.stat {
  top: 10px;
  right: 10px;

  @media screen and (width <= 768px) {
    top: 0;
  }
}

.tank {
  top: -15px;
  right: -20px;
}

.default {
  top: 0;
  right: 0;
}