.TeamName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text {
  font: var(--font-l);
  color: var(--primary-color);
  text-align: center;
}

@media (width <= 530px) {
  .text {
    font: var(--font-m);
  }

  .name {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
