.item {
  padding: 5px;
  color: var(--primary-color);
  transition: color 0.2s;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.link {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: inherit;
  width: calc(100% - 50px);
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (hover: hover) {
  .link:hover {
    color: var(--accent-color);

    .icons:hover {
      color:inherit;
    }
  }
}
