.LangSwitcher {
  opacity: 1;

  @media screen and (width <= 1024px) {
    position: absolute;
    top: -142px;
    right: -200px;
    opacity: 0;
    visibility: hidden;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.LangSwitcher:focus-visible {
  color: var(--accent-color);
}
