.Skeleton {
  position: relative;
  background-color: #17171c;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 80%;
    background: var(--bg-skeleton);
    animation: var(--animation-skeleton);
  }
}

