
.sortItem {
  display: flex;
  border: 1px solid var(--bg-stat-item);
  border-radius: 10px;
  margin-bottom: auto;
  color: var(--input-font-color);
}

.up svg {
  transform: rotate(180deg);
}

.down svg {
  transform: rotate(0);
}

.activeArrow {
  color: var(--primary-color);
}