.OpenAuthPage {
  border-radius: 15px 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 130px;

  @media screen and (width <= 1700px) {
    padding: 0 30px;
  }

  @media screen and (width <= 1024px) {
    border-radius: 0;
    padding: 0 10px;
  }
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.openId {
  width: 100%;
  margin: 100px auto 0;
  padding: 10px 20px 35px;
  border-radius: 15px;
  display: flex;
  border: 1px solid var(--bg-stat-item);
  background-color: rgb(0 0 0 / 30%);
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media screen and (width <= 1024px) {
    margin: 20px auto 0;
  }
}

.headingWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 70px;

  @media screen and (width <= 568px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.heading {
  text-align: center;
  align-self: center;
  margin-top: 10px;
  padding-left: 70px;

  @media screen and (width <= 1024px) {
    font-size: 20px;
  }

  @media screen and (width <= 568px) {
    padding-left: 0;
  }
}
