.app.dark {
  /* bg colors */
  --bg-color: #0c0c0e;
  --bg-secondary-color: #0c0c0e;
  --bg-color-50-opacity: #0C0C0E8C;
  --bg-gradient-color: linear-gradient(180deg, rgb(78 78 116) 0%, #0c0c0e 100%);
  --bg-dark-gradient-color: linear-gradient(180deg, rgb(78 78 116 / 10%) 5%, #1b1a25 100%);
  --bg-dark-gradient-container: linear-gradient(180deg, rgb(24 24 27 / 0%) 0%, #15151d 100%);
  --bg-gradient-overlay: linear-gradient(180deg, rgb(31 31 45 / 10%) 1%, #13131a 100%);
  --bg-notification-selected-color: #101011;
  --inverted-bg-color: #fff;
  --bg-accent-color: #fac704;
  --bg-tab-inactive: #28272e;
  --bg-tab-active: #fac704;
  --bg-slider-dots: #28272e;
  --bg-profile-sidebar-inactive: #28272e;
  --bg-profile-sidebar-active: #fac704;
  --bg-profile-wrapper: #201f27;
  --bg-profile-hr: #3f3d46;
  --bg-footer: #19191d;
  --bg-footer-crown: #202025;
  --bg-tournament-info: #191821;
  --bg-stat-item: rgb(248 248 248 / 10%);
  --bg-navmenu: #1a1a1c1a;
  --bg-burger-menu: #1d1d21;
  --bg-icon-burger-menu: #242424;

  /* font colors */
  --primary-color: #f8f8f8;
  --secondary-color: #989898;
  --secondary-color-accent: #BFBFBF;
  --highlight-color: #18181b;
  --accent-color: #fac704;
  --secondary-highlight-color: #fac704;
  --inverted-primary-color: #606060;
  --inverted-secondary-color: #2e2e2e;
  --green-color: #4CBF39;
  --stats-purple-color: #ae27ee;
  --stats-purple-ligth-color: #9989e6;
  --stats-aqua-color: #72d1ff;
  --stats-green-color: #a8e689;
  --wn8-very-bad-color: #f8f8f8;
  --wn8-bad-color: #c20000;
  --wn8-below-average-color: #ffbf01;
  --wn8-average-color: #cecd3b;
  --wn8-above-average-color: #849b24;
  --wn8-good-color: #4d7326;
  --wn8-very-good-color: #4099bf;
  --wn8-great-color: #3972c6;
  --wn8-unicum-color: #a61a95;
  --wn8-super-unicim-color: #6f319e;
  --is-premium-color: #fac704;
  --is-collectible: #35DBFF;

  /* btn themes */
  --button-primary-color: #000;
  --button-border-color: #828282;
  --button-team-color: #f8f8f8;
  --button-default: #fac704;
  --button-danger-default: #fe2a2a;
  --button-results: #fac704;
  --button-results-bg: #fac70419;
  --button-team-bg: #bfbfbf19;
  --button-icon-bg: #242424;
  --button-disabled: #989898;
  --button-hover: #fac7047f;
  --button-danger-hover: #fc646491;
  --button-send-results-hover: #fac7047f;
  --button-team-hover: #3030337f;
  --button-focus: #fba904;
  --button-pressed: #fba904;
  --button-warning-pressed: #f02;

  /* loader themes */
  --loader-color: #efefef;

  /* input themes */
  --input-bg-color: #1d1d21;
  --input-font-color: #cecece;
  --input-placeholder-color: #787878;

  /* shadow */
  --shadow-menu: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  --shadow-sessions-history: 0 0 5px 5px rgb(255 255 255 / 1%);
  --shadow-burger-menu: 0 2px 5px 0 #3030337f;
  --shadow-opened-button-burger-menu: inset 0 0 10px 4px #3030337f;
  --shadow-active-button-burger-menu: 0 0 10px 4px #18181b;
  --shadow-icon-burger-menu: inset 0 0px 5px 0px #3f3d46;
}