.app.light {
  --bg-color: #e5e2fa;
  --inverted-bg-color: #202020;
  --primary-color: #0e0d0d;
  --secondary-color: #2e2e2e;
  --inverted-primary-color: #ececec;
  --inverted-secondary-color: #c6c5c5;
  --button-border-color: #828282;
}
