.app.light {
  --bg-color: #d7d7e1;
  --bg-gradient-color: linear-gradient(180deg, rgb(78 78 116) 0%, #0c0c0e 100%);
  --bg-notification-selected-color: #101011;
  --inverted-bg-color: #f2f2f2;
  --bg-accent-color: #fac704;
  --primary-color: #0e0d0d;
  --secondary-color: #2e2e2e;
  --highlight-color: #18181b;
  --accent-color: #fac704;
  --secondary-highlight-color: #fac704;
  --inverted-primary-color: #2e2e2e;
  --inverted-secondary-color: #c6c5c5;
  --button-border-color: #828282;
  --button-default: #fac704;
  --button-hover: #fced22;
  --button-focus: #fba904;
  --button-pressed: #fba904;
  --button-warning-default: #fe2a2a;
  --button-warning-hover: #fe5252;
  --button-warning-pressed: #f02;
  --button-disabled: #989898;
  --loader-color: #000;
}
