.page-error {
  min-height: calc(90vh - var(--navbar-height));
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-error__title {
  max-width: 70%;
  font: var(--font-l);
  color: var(--error-color);
  text-align: center;

  @media (width <= 768px) {
    font: var(--font-m);
  }
}
