.UserPage {
  border-radius: 15px 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 130px;

  @media screen and (width <= 1700px) {
    padding: 0 30px;
  }

  @media screen and (width <= 1024px) {
    border-radius: 0;
    padding: 0 10px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
