.tanks {
  border-top: 1px solid var(--bg-tab-inactive);
  padding-bottom: 25px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin: 25px 0 0;
  text-align: center;
}

.list {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 460px);
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media (width <= 1024px) {
  .list {
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media (width <= 480px) {
  .list {
    gap: 15px;
  }

  .title {
    font-size: 14px;
  }
}
