.tanks {
  border-top: 1px solid var(--bg-tab-inactive);
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100dvh - 100px);
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin: 25px 0 0;
  text-align: center;
  min-height: 22px;
  min-width: 170px;
}

.list {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 457px);
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
}

.buttonMore {
  margin-top: 35px;
}

@media (width <= 1590px) and (width >= 1287px),
  (width <= 1090px) and (width >= 769px),
  (width <= 480px) and (width >= 380px) {
  .list {
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, 360px);
  }
}

@media (width <= 479px) {
  .buttonMore {
    max-width: 150px;
  }
}

@media (width <= 1286px) and (width >= 1091px),
  (width <= 768px) and (width >= 480px) {
  .list {
    gap: 20px 15px;
    grid-template-columns: repeat(auto-fit, 455px);
  }
}

@media (width <= 379px) {
  .list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 15px;
  }

  .title {
    font-size: 14px;
  }
}
