.Navbar {
  // height: var(--navbar-height);
  background: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  gap: 20px;
}

.navWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.notification {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-accent-color);
}

.userName {
  max-width: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuProfile {
  width: 235px;
  height: 267px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--bg-navmenu);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 5px;
  z-index: 10;
  border-radius: 4px;
  backdrop-filter: blur(60px);
}

@media (width <= 768px) {
  .addAccount {
    width: 40px;
    height: 40px;
    background-image: url('shared/assets/icons/button/add-friend.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Navbar {
    gap: 10px;
  }

  .userName {
    font-size: 12px;
    max-width: 60px;
  }

  .navWrapper {
    gap: 0;
  }
}
