.Navbar {
  height: var(--navbar-height);
  background: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  gap: 20px;
}

.navWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.notification {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-accent-color);
}

.userName {
  max-width: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
