.Navbar {
  background: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  gap: 20px;
}

.navWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.notification {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-accent-color);
}

.userName {
  max-width: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuProfile {
  position: absolute;
  bottom: 120px;
  right: 0;
  background-color: var(--bg-navmenu);
  box-shadow: var(--sadow-menu);
  z-index: 2;
  border-radius: 4px;
  backdrop-filter: blur(60px);
  transition: all 0.5s;

  &.open {
    transform: translateY(360px);
    transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
  }
}

@media (width <= 768px) {
  .addAccount {
    width: 40px;
    height: 40px;
    background-image: url('shared/assets/icons/button/add-friend.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Navbar {
    gap: 10px;
  }

  .userName {
    font-size: 12px;
    max-width: 60px;
  }

  .navWrapper {
    gap: 0;
  }
}
