.filterSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.battlesChoose, .sortByChoose {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  @media screen and (width <= 768px) {
    justify-content: center;
  }
}

.filterLabel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 360px;
  gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid var(--bg-stat-item);

  &:last-child {
    border-bottom: none;
  }

  & span {
    text-align: center;
  }
}

.accordionTitle {
  display: flex;
  gap: 5px;

  .arrowDown {
    height: max-content;
    font-size: 9px;
  }
}
