.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header {
  width: 70px;
  height: 70px;

  .image {
    width: 54px;
    height: 54px;
  }

  .text {
    width: 75px;
    height: 12px;
  }
}

.auth {
  width: 110px;

  .image {
    width: 84px;
  }

  .text {
    width: 107px;
  }
}

.footer {
  width: 170px;

  @media screen and (width <= 850px) {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -60px;
    left: 0;

    & svg path {
      fill: #202025;
    }

    .text {
      display: none;
    }
  }

  @media screen and (width <= 600px) {
    width: 320px;
    height: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (hover: hover) {
  .Logo:hover {
    cursor: pointer;
  }
}
