.item {
  height: 75px;
  width: 150px;
  padding: 10px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  outline: 1px solid var(--bg-stat-item);
  border-radius: 5px;

  @media (width <= 1179px) {
    width: 140px;
  }

  @media (width <= 330px) {
    width: 149px;
  }
}

.icon {
  width: 36px;
  height: 36px;

  path {
    fill: var(--accent-color);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  position: relative;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--inverted-primary-color);
}

.results {
  font-size: 18px;
}

.tooltip {
  min-height: 24px;
}

.visible {
  position: relative;
  margin-top: -4px;
  min-height: 24px;
  border-bottom: 1px dashed var(--primary-color);
  cursor: help;
}
