table {
  width: 100%;
  max-width: 1370px;
  border-spacing: 0 15px;
  position: relative;
}

.icon {
  width: 50px;
  aspect-ratio: 1;
  object-fit: contain;
  display: block;
}

.mastery {
  width: 40px;
  aspect-ratio: 1;
  vertical-align: middle;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-color);
  text-align: start;
  position: sticky;
  top: 105px;
  z-index: 2;
  margin-bottom: -75px;
  padding-top: 15px;
}

thead {
  backdrop-filter: blur(120px);
  background-color: rgb(26 26 28 / 10%);
  position: sticky;
  top: 89px;
  z-index: 1;
}

th {
  color: var(--inverted-primary-color);
  font-size: 16px;
  font-weight: 500;
  text-align: end;
  padding: 75px 10px 15px;
}

th:nth-child(2) {
  text-align: start;
}

th:last-child {
  border-right: none;
  padding-right: 15px;
}

td {
  width: 12%;
  vertical-align: middle;
  font-size: 16px;
  border-top: 1px solid var(--bg-stat-item);
  border-bottom: 1px solid var(--bg-stat-item);
  text-align: end;
  padding: 0 10px;
}

td:first-child {
  border-left: 1px solid var(--bg-stat-item);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 14px 0 14px 15px;
  width: 50px;
}

td:nth-child(2) {
  text-align: left;
  width: 18%;
}

td:last-child {
  padding-right: 15px;
  border-right: 1px solid var(--bg-stat-item);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 20%;
}

@media (width <= 1024px) {
  td {
    font-size: 14px;
  }

  th {
    font-size: 14px;
  }
}

@media (width <= 768px) {
  .title {
    font-size: 12px;
    margin-bottom: -35px;
    top: 90px;
  }

  td {
    font-size: 12px;
    padding: 0 5px;
    height: 50px;
  }

  th {
    font-size: 11px;
    padding-top: 35px;
  }

  .icon {
    width: 30px;
  }

  td:nth-child(2) {
    width: 20%;
    border-left: 1px solid var(--bg-stat-item);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  td:first-child,
  th:first-child,
  td:nth-child(3),
  th:nth-child(3),
  td:last-child,
  th:last-child {
    display: none;
  }

  td:nth-child(7) {
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid var(--bg-stat-item);
  }

  .mastery {
    width: 20px;
  }
}
