.Search {
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: var(--input-bg-color);
}

.button {
  background-color: var(--input-bg-color);
  order: -1;
}

@media (width <= 768px) {
  .button {
    background-color: var(--button-icon-bg);
  }
}