.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.AuthInput {
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 16px 20px 16px 13px;
  color: var(--primary-color);
}

.AuthInput:focus {
  border: 1px solid var(--accent-color);
}

.errorMessage {
  min-height: 24px;
  font-size: 14px;
  color: var(--error-color);
}

.error {
  border: 1px solid var(--error-color);
}

/* Меняем стилизацию автокомплита */
.AuthInput:-webkit-autofill,
.AuthInput:-webkit-autofill:hover,
.AuthInput:-webkit-autofill:focus {
  border-radius: 5px;
  -webkit-text-fill-color: var(--primary-color);
  box-shadow: 0 0 0 1000px rgb(0 0 0 / 0%) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (width <= 768px) {
  .AuthInput {
    padding: 10px;
    font-size: 14px;
  }
}
