.userStatsSection {
  padding: 20px 0 40px;
  border-radius: 15px;
}

.statList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(min(1%), max(250px)));
  grid-auto-rows: 110px;
  justify-content: center;
  gap: 45px;

  @media screen and (width <= 1435px) {
    gap: 20px;
  }

  @media screen and (width <= 768px) {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(min(1%), max(250px)));
  }
}

.btnUpdateSession {
  margin: 42px auto 0;
}

@media screen and (width <= 768px) {
  .userStatsSection {
    margin-top: 0;
  }
}
