.userStatsSection {
  padding: 20px 0;
  border-radius: 15px;
}

.statList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(min(1%), max(250px)));
  grid-auto-rows: 110px;
  justify-content: center;
  gap: 45px;

  @media (width <= 1435px) {
    gap: 20px;
  }

  @media (width <= 768px) {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(min(1%), max(250px)));
  }
}

.updateSessionWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.btnUpdateSession {
  margin: 0 auto;
}

.buttonsWrapper {
  position: relative;
  display: flex;
  gap: 10px;
}

@media (width <= 768px) {
  .userStatsSection {
    margin-top: 0;
  }
}
