.tooltip {
  position: absolute;
  max-width: 100px;
  width: 100%;
  color: var(--primary-color);
  font-size: 12px;
  line-height: normal;
  min-height: 16px;
  display: none;
  top: 0;
}

.text {
  z-index: 10;
  display: flex;
  max-width: 100px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cloud {
  background-color: var(--bg-profile-hr);
  font-size: 12px;
  line-height: normal;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  bottom: 200%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  min-width: 110px;
  display: none;
}

.cloud::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--bg-profile-hr) transparent transparent transparent;
}

.tooltip:hover .cloud  {
  opacity: 1;
  display: block;
}

.visible {
  display: block;
}

.favorites {
  display: block;
  opacity: 1;
}
