.UserStatsProfile {
  margin: 0 0 20px;
  padding: 15px 22px 15px 28px;
  border-radius: 0 0 15px 15px;
  display: grid;
  justify-content: center;
  grid-template: "privateData privateData privateData" 50px "avatar publicData rating" 1fr "avatar publicData social" 31px / auto 1fr auto;
}

.avatarWrapper {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.primaryUserData {
  display: flex;
  flex-direction: column;

  // justify-content: center;
  // align-items: center;
  grid-area: publicData;
  padding-top: 25px;
}

.username {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clan {
  width: max-content;
  color: var(--inverted-primary-color);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.userId {
  color: var(--inverted-primary-color);
  font-size: 15px;
  font-weight: 500;
}

.userBio {
  display: flex;
  color: var(--secondary-color-accent);
  max-width: 469px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  white-space: pre-line;
}

.socials {
  grid-area: social;
  padding-top: 20px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.socialLink {
  text-decoration: none;
  opacity: 0.5;
  transition: opacity .2s;
}

.info {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  opacity: 0.5;
  transition: opacity 0.2s linear;
  margin-right: auto;
}

@media screen and (hover: hover) {
  .info:hover {
    cursor: pointer;
    opacity: 1;
  }

  .clan:hover {
    color: var(--primary-color);
    opacity: 0.8;
  }
}

@media (width <= 768px) {
  .UserStatsProfile {
    padding: 15px 10px 0;
    grid-template-columns: 1fr 140px 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "privateData privateData privateData"
      "avatar avatar avatar"
      ". rating ."
      "publicData publicData publicData"
      "social social social";
  }

  .avatarWrapper {
    padding: 0;
  }

  .avatar {
    width: 140px;
    height: 140px;
  }
}
