.UserStatsProfile {
  margin: 0 0 20px;
  padding: 15px 22px 15px 28px;
  border-radius: 0 0 15px 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 50px 1fr auto;
  grid-template-areas:
    "privateData privateData privateData"
    "avatar publicData rating"
    "avatar publicData social";
}

.avatarWrapper {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media screen and (hover: hover) {
  .info:hover {
    cursor: pointer;
    opacity: 1;
  }

  .clan:hover {
    color: var(--primary-color);
    opacity: 0.8;
  }
}

@media screen and (width <= 768px) {
  .UserStatsProfile {
    padding: 15px 10px 0;
    grid-template-columns: 1fr 140px 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "privateData privateData privateData"
      "avatar avatar avatar"
      ". rating ."
      "publicData publicData publicData"
      "social social social";
  }

  .avatarWrapper {
    padding: 0;
  }

  .avatar {
    width: 140px;
    height: 140px;
  }
}
