.promo {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.background {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  background-image: radial-gradient(145.91% 78.47% at 50% 24.92%, rgba(34 34 40 / 0%) 0%, #232328 100%), url("../../../shared/assets/images/bg-landing.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background::before {
  content: "";
  width: max-content;
  height: 50%;
  position: absolute;
  background-color: lightgray;
  background-size: cover;
  opacity: 0.005;
}

.title {
  margin: 70px 0 80px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font: var(--font-xxxl);
  text-align: center;
}

.subtitle {
  margin-bottom: 70px;
  text-align: center;
  font: var(--font-xxl);
  font-weight: 500;
}

.list {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font: var(--font-l);
  text-align: center;
  counter-increment: item;
}

.item::before {
  content: counter(item);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-accent-color);
  color: var(--button-primary-color);
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

@media (width <= 1470px) {
  .title {
    font-size: var(--font-size-xxl);
  }

  .subtitle {
    font-size: var(--font-size-xl);
  }

  .list {
    padding: 0 10px 40px;
  }

  .item {
    font-size: var(--font-size-m);
  }

  .item::before {
    width: 50px;
    height: 50px;
    font-size: var(--font-size-l);
  }

  .text {
    max-width: 180px;
  }
}

@media (width <= 1024px) {
  .title {
    margin: 40px 0;
    font-size: var(--font-size-l);
  }

  .subtitle {
    margin-bottom: 60px;
    font-size: var(--font-size-l);
  }

  .text {
    max-width: none;
    text-align: start;
  }

  .list {
    padding: 0 0 40px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .item {
    width: 320px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    font-size: var(--font-size-m);
  }

  .item::before {
    width: 35px;
    height: 35px;
    margin: 0;
    font-size: var(--font-size-m);
  }
}

@media (width <= 400px) {
  .title {
    font-weight: 500;
    padding: 0;
  }

  .subtitle {
    padding: 0 10px;
  }

  .item {
    max-width: 300px;
  }
}
