.teams {
  border-radius: 15px 0 0;
  width: 100%;  
  height: 100%;
  position: relative;
  padding: 50px 130px;
  background: var(--bg-gradient-overlay),
    url('shared/assets/images/tournamentCard.jpg');
  background-repeat: no-repeat;

  @media screen and (width <= 1700px) {
    padding: 50px 80px;
  }

  @media screen and (width <= 1024px) {
    border-radius: 0;
  }
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.test {
  width: 300px;
  height: 300px;
}

@media screen and (width <= 1280px) {
  .tournaments {
    padding: 30px 10px;
  }
}
