@import '../../../../app/styles/fonts/fonts';

html, body {
  scrollbar-gutter: auto;
}

.SessionWidgetPage {
  min-height: 100vh;
  width: 100%;
  font-family: Play, Roboto, arial, sans-serif;
}

.error {
  padding: 20px;
  display: block;
  max-width: 240px;
  color: red;
}
