.card {
  max-width: 460px;
  width: 100%;
  min-height: 175px;
  display: flex;
  outline: 1px solid var(--bg-stat-item);
  border-radius: 15px;
  gap: 30px;
  padding: 15px;
  background-color: var(--bg-card);

  @media (width <= 375px) {
    border: 1px solid var(--bg-stat-item);
    outline: none;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 21px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  line-height: normal;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.premium {
    color: var(--is-premium-color);
  }

  &.collectible {
    color: var(--is-collectible);
  }
}

.flag {
  width: 30px;
  height: 21px;
  display: flex;
  order: -1;
}

.statList {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 20px;

  div:nth-child(5) {
    color: var(--input-font-color);
    grid-column: span 2;
    font-size: 14px;
    padding-top: 3px;
  }
}

.imageWrapper {
  order: -1;
  position: relative;
}

.tankImg {
  display: flex;
  width: 140px;
  height: 145px;
  object-fit: contain;
}

.inner {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.tier {
  font-size: 16px;
  line-height: normal;
  color: var(--secondary-color);
}

.type {
  width: 20px;
  height: 20px;
  color: var(--secondary-color);
}

.mastery {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
}

@media (width <= 1590px) and (width >= 1287px),
  (width <= 1090px) and (width >= 769px),
  (width <= 480px) and (width >= 380px) {
  .card {
    max-width: 360px;
    min-height: 120px;
    padding: 10px;
    gap: 20px;
  }

  .infoWrapper {
    gap: 12px;
    padding: 0;
  }

  .tankImg {
    width: 100px;
    height: 98px;
    margin: 0;
  }

  .title {
    font-size: 14px;
    max-width: 160px;
  }

  .tier {
    font-size: 14px;
  }

  .type {
    width: 15px;
    height: 15px;
  }

  .mastery {
    width: 24px;
    height: 24px;
  }

  .statList {
    grid-template-columns: repeat(2, 110px);
    gap: 7px 10px;

    div:nth-child(5) {
      font-size: 12px;
    }
  }
}

@media (width <= 1286px) and (width >= 1091px),
  (width <= 768px) and (width >= 480px) {
  .card {
    max-width: 460px;
    min-height: 175px;
    padding: 15px;
    gap: 30px;
  }

  .infoWrapper {
    gap: 12px;
    padding: 0;
  }

  .tankImg {
    width: 140px;
    height: 145px;
  }

  .title {
    font-size: 18px;
    max-width: 200px;
  }

  .tier {
    font-size: 16px;
  }

  .type {
    width: 20px;
    height: 20px;
  }

  .mastery {
    width: 32px;
    height: 32px;
  }

  .statList {
    grid-template-columns: repeat(2, 120px);
    gap: 20px;

    div:nth-child(5) {
      font-size: 14px;
    }
  }
}

@media (width <= 380px) {
  .card {
    max-width: 300px;
    min-height: 112px;
    padding: 10px;
    gap: 20px;
  }

  .infoWrapper {
    gap: 11px;
    padding: 0;
  }

  .tankImg {
    width: 70px;
    height: 68px;
    margin: 10px 0;
  }

  .title {
    font-size: 14px;
    max-width: 160px;
  }

  .inner {
    gap: 0;
  }

  .tier {
    font-size: 12px;
  }

  .type {
    width: 13px;
  }

  .mastery {
    width: 20px;
    height: 20px;
  }

  .statList {
    display: grid;
    grid-template-columns: repeat(2, 95px);
    gap: 5px 10px;

    div:nth-child(5) {
      color: var(--input-font-color);
      grid-column: span 2;
      font-size: 10px;
    }
  }
}
