.ProfileSidebar {
  display: flex;
  gap: 15px;
}

.list {
  padding: 19px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: var(--profile-sidebar-height);
  border-right: 4px solid var(--bg-tab-inactive);

  
  &.navbar {
    border: none;
    padding: 0;
    width: 100%;
  }
}

@media screen and (width <= 810px) {
  .ProfileSidebar {
    justify-content: center;
  }

  .list {
    flex-direction: row;
    height: auto;
    border: none;
  }
}
